@model Ejer_Propuestos1_Catalan.Models.ClsEjercicio6
@{
    //Layout = null;
}

<div class="panel panel-default">
    <div class=" panel-heading">
        <h2>Renta auto</h2>
    </div>
    <div class="panel-body">
        <div class="container">
            @using (Html.BeginForm("Calcular", "Ejercicio6", FormMethod.Post, new { criterio = "frm-buscar" }))
            {
                <label>@Html.RadioButtonFor(model => model.coche, "chico")  chico</label>
                <label>@Html.RadioButtonFor(model => model.coche, "mediano")  mediano</label>
                <label>@Html.RadioButtonFor(model => model.coche, "grande")  grande</label>

                <br /><br />
                <h5>Dias alquilados</h5>
                @Html.TextBoxFor(model => model.dias, new { @class = "form-control input-lg" })

                <br /><br />
                <h5>Cantidad de KM</h5>
                @Html.TextBoxFor(model => model.km, new { @class = "form-control input-lg" })

                <div>
                    <h4>Monto total a pagar: S/. @Model.total</h4>
                </div>

                <button class="btn btn-lg btn-primary">Calcular</button>
            }


        </div>
    </div>
</div>