@model Ejer_Propuestos1_Catalan.Models.ClsEjercicio6
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calcular</title>
</head>
<body>
    <div class="container">
        <h1>Ejercicio 6</h1>
    </div>

    <div class="container">
        @using (Html.BeginForm("Calcular", "Ejercicio6", FormMethod.Post))
        {
            <label>@Html.RadioButtonFor(model => model.coche, "chico")  chico</label>
            <label>@Html.RadioButtonFor(model => model.coche, "mediano")  mediano</label>
            <label>@Html.RadioButtonFor(model => model.coche, "grande")  grande</label>

            <br /><br />
            <label>Dias alquilados</label>
            @Html.EditorFor(model => model.dias)

            <br /><br />
            <label>Cantidad de KM</label>
            @Html.EditorFor(model => model.km)

            <div class="container">
                <label>Monto total a pagar: S/. @Model.total</label>
            </div>

            <button>Calcular</button>
        }


    </div>

</body>
</html>
