@model List<TrabajoUnidadI_TiconaCatalan.Models.CONCURSO>
@{
	ViewBag.Title = "index";
	int count = 0, count1 = 0, count2 = 0;
}

<h2 class="page-header">
	Sorteo de Proyectos
</h2>
<br><br />
<a href="~/Concurso/Index/" class="btn btn-xs btn-primary">Volver</a>
<br><br />
<h3>Categoria A</h3>
<table class="table table-hover">
	<thead>
	<tr>
		<th>Id</th>
		<th>Tema</th>
		<th>Integrantes</th>
		<th>Curso</th>
		<th>Asesor</th>
		<th>Categoria</th>
		<th>Orden</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var m in Model)
	{
		if (m.CATEGORIAS.NOMBRECATEGORIA.Equals("A"))
		{//<p>@m.IDCONCURSO</p>
			if (Convert.ToInt32(ViewBag.lenght) > count)
			{
				//<p>@m.IDCONCURSO</p>
				<tr>
					<th>@(m.IDCONCURSO)</th>
					<th>@(m.TEMA)</th>
					<th>@(m.INTEGRANTES)</th>
					<th>@(m.CURSO)</th>
					<th>@(m.ASESOR)</th>
					<th>@(m.CATEGORIAS.NOMBRECATEGORIA)</th>
					<th style="align-content:center">
						@(ViewBag.array.[count])
					</th>
				</tr>
				count++;
			}
		}
	}
	</tbody>
</table>

<br><br />
<h3>Categoria B</h3>
<table class="table table-hover">
	<thead>
	<tr>
		<th>Id</th>
		<th>Tema</th>
		<th>Integrantes</th>
		<th>Curso</th>
		<th>Asesor</th>
		<th>Categoria</th>
		<th>Orden</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var m in Model)
	{
		if (m.CATEGORIAS.NOMBRECATEGORIA.Equals("B"))
		{//<p>@m.IDCONCURSO</p>
			if (Convert.ToInt32(ViewBag.lenght1) > count1)
			{
				//<p>@m.IDCONCURSO</p>
				<tr>
					<th>@(m.IDCONCURSO)</th>
					<th>@(m.TEMA)</th>
					<th>@(m.INTEGRANTES)</th>
					<th>@(m.CURSO)</th>
					<th>@(m.ASESOR)</th>
					<th>@(m.CATEGORIAS.NOMBRECATEGORIA)</th>
					<th style="align-content:center">
						@(ViewBag.array1[count1])
					</th>
				</tr>
				count1++;
			}
		}
	}
	</tbody>
</table>

<br><br />
<h3>Categoria C</h3>
<table class="table table-hover">
	<thead>
	<tr>
		<th>Id</th>
		<th>Tema</th>
		<th>Integrantes</th>
		<th>Curso</th>
		<th>Asesor</th>
		<th>Categoria</th>
		<th>Orden</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var m in Model)
	{
		if (m.CATEGORIAS.NOMBRECATEGORIA.Equals("C"))
		{//<p>@m.IDCONCURSO</p>
			if (Convert.ToInt32(ViewBag.lenght2) > count2)
			{
				//<p>@m.IDCONCURSO</p>
				<tr>
					<th>@(m.IDCONCURSO)</th>
					<th>@(m.TEMA)</th>
					<th>@(m.INTEGRANTES)</th>
					<th>@(m.CURSO)</th>
					<th>@(m.ASESOR)</th>
					<th>@(m.CATEGORIAS.NOMBRECATEGORIA)</th>
					<th style="align-content:center">
						@(ViewBag.array2[count2])
					</th>
				</tr>
				count2++;
			}
		}
	}
	</tbody>
</table>