
@{
    Layout = null;
}

<!DOCTYPE html>
@model TrabajoUnidadI_TiconaCatalan.Models.ClsConcurso
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
    </div>
    @using (Html.BeginForm("Index", "Concurso", FormMethod.Post))
    {
        @Html.Label("Tema")
        @Html.TextBoxFor(model => model.tema)
        <br />
        @Html.Label("Curso")
        @Html.TextBoxFor(model => model.curso)
        <br />
        @Html.Label("Asesor")
        @Html.TextBoxFor(model => model.asesor)
        <br />
        @Html.Label("Categoria")
        @Html.TextBoxFor(model => model.categoria)
        <br />
        <input type="submit" value="GENERAR JSON" />
    }
</body>
</html>
