@*@model IEnumerable<TrabajoUnidadI_TiconaCatalan.Models.CONCURSO>
@{
    ViewBag.Title = "Home Page";
    var cont = 1;
}

<div class="jumbotron">
    <h1>Concurso de Proyectos - UPT</h1>
    <p class="lead">Participa en el concurso de proyectos de la Universidad Privada de Tacna</p>
    <p><a href="#" class="btn btn-primary btn-lg">Incribete &raquo;</a></p>
</div>

<div class="row">
    <div class="">
        <h2>Proyectos Inscritos</h2>
        <div class="clearfix"></div>
        <h4>Categoria A</h4>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Proyecto</th>
                        <th>Curso</th>
                        <th>Integrantes</th>
                        <th>Asesor</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@cont</td>
                        <td>@item.TEMA</td>
                        <td>@item.CURSO.NOMBRE</td>
                        <td>@item.INTEGRANTES</td>
                        <td>@item.CURSO.NOMBREDOCENTE</td>
                        @if (@item.CURSO.CICLO <= 4)
                        {
                            <td>A</td>
                        }
                        else if (@item.CURSO.CICLO <= 7 && item.CURSO.CICLO>=5)
                        {
                            <td>B</td>
                        }
                        else if (@item.CURSO.CICLO <= 10 && item.CURSO.CICLO >= 8)
                        {
                            <td>C</td>
                        }
                    </tr>
                        cont++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>*@