@model Ejer_Propuestos1_Catalan.Models.ClsEjercicio5
@{
    //Layout = null;
    ViewBag.Title = "Pension";
}

<div class="panel panel-default">
    <div class=" panel-heading">
        <h2>Calcular pensión</h2>
    </div>
    <div class="panel-body">
        <div class="container">
            @using (@Html.BeginForm("CalcularPension", "Ejercicio5", FormMethod.Post, new { criterio = "frm-buscar" }))
            {
                <div class="container">
                    <label>@Html.RadioButtonFor(model => model.numHijos1, "Hijos1") 2 Hijos</label>
                    <label>@Html.RadioButtonFor(model => model.numHijos1, "Hijos2") 3 a 5 Hijos</label>
                    <label>@Html.RadioButtonFor(model => model.numHijos1, "Hijos3") 6 a más Hijos</label>

                    <br /><br />

                    <h4>Cantidad de Hijos en edad escolar (6 a 18 años)</h4><br />
                    @Html.TextBoxFor(model => model.cantHijosEscu, new { @class = "form-control input-lg" })

                    <br /><br />

                    <label>@Html.RadioButtonFor(model => model.viuda, "Viuda") Viuda</label>
                </div>

                <br /><br />

                <div>
                    <h4>Pensión: S/. @Model.pension</h4>
                </div>

                <button class="btn btn-lg btn-primary">Calcular</button>
            }
        </div>
    </div>
</div>