@model Ejer_Propuestos1_Catalan.Models.ClsEjercicio7
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dibujar</title>
    <style>
        .grafico{
            display: flex;
            flex-direction: column;
            margin-top: 1.5em;
            width:50em;
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <div class="panel panel-default">
        <div class=" panel-heading">
            <h2>Dibujar Figura</h2>
        </div>
        <div class="panel-body">
            <div class="container mod2">
                <div class="rec1">
                    @using (Html.BeginForm("Dibujar", "Ejercicio7", FormMethod.Post, new { criterio = "frm-buscar" }))
                    {
                        @Html.Label("indicar el numero de filas", new { @class = "h4" }); <br />
                        @Html.TextBoxFor(model => model.filas, new { @class = "form-control input-lg" });<br />

                        @Html.Label("indicar el simbolo", new { @class = "h4" });<br />
                        @Html.TextBoxFor(model => model.simbolo, new { @class = "form-control input-lg" });<br />

                        <div style="margin: 1em auto">
                            <br />
                            <button class="btn btn-lg btn-primary">Graficar</button>
                        </div>

                        <div class="">
                            @Html.Label("Alinear", new { @class = "h4" }) <br />

                            <label>
                                <input type="radio" value="derecha" name="radio"
                                       onclick="document.getElementById('map').style.alignItems ='flex-start'" />
                                Izquierda
                            </label>
                            <label>
                                <input type="radio" value="center" name="radio"
                                       onclick="document.getElementById('map').style.alignItems ='center'" />
                                Centro
                            </label>
                            <label>
                                <input type="radio" value="center" name="radio"
                                       onclick="document.getElementById('map').style.alignItems ='flex-end'" />
                                Derecha
                            </label>
                        </div>

                        <div class="grafico" id="map">
                            @foreach (string item in Model.grafico)
                            {
                                <label> @item </label>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
