@using EXA_U1_Catalan.Models
@model List<EXA_U1_Catalan.Models.ClsCarga>
@{
    ViewBag.Title = "Home Page";
    int cont = 1, x = 0, y = 0;
    int[] horas = new int[ViewBag.total];
    int[] creditos = new int[ViewBag.total];
    string[] nombreCurso = new string[ViewBag.total];

    foreach (var item in ViewData["CURSOS"] as List<ClsCargaCurso>)
    {
        horas[x] = item.horas;
        creditos[x] = item.creditos;
        nombreCurso[x] = item.nomCurso;
        x++;
    }
}

<div class="jumbotron">
    <h1>XML</h1>
    <p class="lead">Trabajar con dos archivos XML con LINQ</p>
</div>

<div class="row">
    <table border="1">
        <tr>
            <th>#</th>
            <th>Nombre Docente</th>
            <th>Nombre Curso</th>
            <th>Horas Curso</th>
            <th>Creditos Curso</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@cont</td>
            <td>@Html.DisplayFor(modelItem => item.nomDocen)</td>
            <td>@nombreCurso[y]</td>
            <td>@horas[y]</td>
            <td>@creditos[y]</td>
        </tr>
            cont++; y++;
        }
    </table>
</div>